@charset "UTF-8";

/* CORPO DO SITE */

@font-face
{
    font-family: 'Fonte-base';
    src: url('../fntf/RobotoSlab.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    appearance: none;
    box-sizing: border-box;
    font-family: 'Fonte-base',sans-serif;
}
a
{
    color: white;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}
a:hover
{
    opacity: .7;
    text-decoration: underline;
}

body
{
    background-color: #111420;
}

.fundo_inicial {
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.fundo_inicial::before {
    position: absolute;
    content: "";
    background-size: cover;
    background-position: center;
    top: 122px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%),
        url('https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=');
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 100vw;
    height: 75vh;
    z-index: -3;
    filter: blur(10px);
}
/* CABECALHO */

.cab2
{
    display: flex;
    width: calc(100vw - 21.6px);
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cabecalho
{
    position: fixed;
    background-color: #151a27;
    border-bottom: 3px solid #236b9e;
    width: 100vw;
    z-index: 10;
    transition: .3s ease-in;
}

/* LINKS NO CABECALHO */

.nav-list /* <---- LISTA DE LINKS */
{
    list-style: none;
    display: flex;
}
.nav-list li /* <--- LINKS */
{
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-list.ativo
{
    transform: translateX(0);
}

/* 3 TRACOS */

.menu-celular
{
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 22px;
}
.tracos
{
    position: absolute;
    bottom: 49.5%;
    background-color: white;
    width: 32px;
    height: 2px;
}
.tracos::before
{
    content: "";
    position: absolute;
    top: 8px;
    background-color: white;
    width: 32px;
    height: 2px;
}
.tracos::after
{
    content: "";
    position: absolute;
    bottom: 8px;
    background-color: white;
    width: 32px;
    height: 2px;
}
.menu-celular:hover
{
    opacity: .3;
}

/* LOGO NO CABECALHO */

.imagem_logo {
    border-radius: 20%;
    margin-right: 10px;
}

.texto_logo {
    font-style: italic;
    margin-left: 10px;
    color: #5F9EFF;
    font-size: 18px;
}
.logo {
    display: flex;
    align-items: center;
}

/* CENTRALIZAR */

.centro
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro2
{
    text-align: center;
}

/* TOGGLE SWITCH */

.modo /* ARRUMAR NO CABECALHO */
{
    width: 70px;
    margin-right: calc(1% + 2vw);
}

.base1
{
    position: relative;
    display: inline-block;
    width: 70px;
    transition: 0.4s;
    height: 35px;
}
.deslizar
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(210deg,#8fb5c0,#5F9EFF);
    transition: 0.4s;
    border-radius: 12px;
}
.deslizar::before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
    background-image: url(../imgf/lua_icon.png);
}
input[type='checkbox']:checked + .deslizar
{
    background-image: linear-gradient(160deg,#556279,#1E2434);
}
input[type='checkbox']:checked + .deslizar::before
{
    transform: translateX(35px) rotate(180deg);
    background-image: url(../imgf/sol_icon.png);
}

/* LOGO GRANDE */

.base2
{  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}
.imagem_logo2
{
    width: 70%;
    border-radius: 15%;
    max-width: 800px;
    height: auto;
    box-shadow: #111420 0 0 40px;
    transition: transform 0.3s ease;
}
.imagem_logo2:hover
{
    transform: scale(1.05);
}

/* LIGHT MODE */

#light-mode1
{
    background-color: #d4e8ee;
    color: black;
}
#light-mode2
{
    background-color: #bad4db;
    border-bottom: 2px solid black;
}
#light-mode3
{
    color: black;
}
#light-mode4
{
    background-color: #bad4db;
}
#light-mode5
{
    color: white ;
    background: linear-gradient(160deg,#556279,#1E2434);
    box-shadow: #5b5b5b 0 0 20px;
}
#light-mode5:hover
{
    transform: scale(1.2);
}
#light-mode5:active
{
    transform: scale(.9);
}
#light-mode6
{
    box-shadow: #d4e8ee 0 0 40px;
}
#light-mode7
{
    box-shadow: #5b5b5b 0 0 20px;
    color: white;
    background-image: linear-gradient(160deg,#424f64,#1E2434);
}
#light-mode7
{
    color: white;
    background-image: linear-gradient(160deg,#424f64,#1E2434);
}
#light-mode8
{
    background-image: linear-gradient(160deg,#424f64,#1E2434);
    border-right: .15em solid #1E2434;
}
#light-mode9
{
    font-size: 18px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: white;
}
#light-mode10
{
    color: black;
}
#light-mode12,
#light-mode12::after,
#light-mode12::before
{
    background-color: black;
}

/* BOTAO */

.botao_sbms
{
    letter-spacing: 2px;
    font-weight: 850;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    font-size: 20px;
    color: #000000;
    background-image: linear-gradient(1600deg,#8fb5c0,#5F9EFF);
    border-radius: 15px;
    box-shadow: #5F9EFF 0 0 20px;
    border: none;
    transition: transform 0.3s ease;
}
.botao_sbms:hover
{
    transform: scale(1.2);
    background-image: linear-gradient(160deg,#668c97,#2862b8);
}

.botao_sbms:active
{
    transform: scale(0.9);
    background-image: linear-gradient(160deg,#406570,#144692);
}

/* CARD */
.listacard
{
    display: flex;
    margin: 40px 0 0 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease;
}
.listacard .card
{
    margin: 10px 10px 10px;
    background-color: #111420;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: all 0.2s ease;
}
.listacard:not(:hover)
{
    filter: blur(3px);
    opacity: 0.8;
}
.listacard:hover> :not(:hover)
{
    filter: blur(3px);
    opacity: 0.5;
}

/* TEXTO */

#texto1
{
    font-size: 18px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: black;
}

/* CAIXA TEXTO */

.caixa1
{
    box-shadow: #70a3f0 0 0 20px;
    margin: 14.8vh 50px 30px 50px;
    background-image: linear-gradient(160deg,#8fb5c0,#5F9EFF);
    border-radius: 20px;
    height: auto;
    min-height: 500px; /* Ajuste conforme necessário */
}

/* SLOGAN DA EMPRESA */

.base3
{  
    margin: 50px;
    text-align: center;
}
.slogan
{
    letter-spacing: 2px;
    width: 45%;
    font-size: 25px;
    background-image: linear-gradient(160deg,#61b1c7,#4086f0);
    background-clip: text;
    color: transparent;
    overflow: hidden;
    border-right: .15em solid #4086f0;
    white-space: nowrap;
    margin: 0 auto;
    animation: escrever 6s steps(40) infinite, piscando .75s step-end infinite;
}

/* CREDITOS */
.creditos
{
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

/* RESTO */

@keyframes escrever {
  0%,5%,75%,100% {
    width: 0;
  }
  25%,75% {
    width: 40ch;
  }
}

@keyframes piscando {
  50% {
    border-color: transparent;
  }
}

/* ARRUMANDO TAMANHO */

@media (max-width: 999px)
{
    body
    {
        overflow-x: hidden;
    }
    .nav-list
    {
        position: absolute;
        top: 120px;
        right: 0;
        width: 50vw;
        height: 93vh;
        background-color: #151a27;
        border-left: 2px solid #236b9e;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: .3s ease-in;
    }
    .nav-list li
    {
        margin: 0;
        opacity: 0;
    }
    .menu-celular
    {
        display: block;
    }
    #light-mode11
    {
        background-color: #bad4db;
        border-left: 2px solid black;
    }
    .fundo_inicial::before {
        position: absolute;
        content: "";
        background-size: cover;
        background-position: center;
        top: 122px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%),
            url('https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=');
        background-repeat: no-repeat;
        width: 100vw;
        height: 65vh;
        z-index: -1;
        filter: blur(10px);
    }
}
@media (max-width: 768px)
{
    .cab2
    {
        display: flex;
        align-items: center;
        width: 100vw
    }

    .botao_sbms {
        padding: 15px 30px;
        font-size: 16px;
    }

    .caixa1 {
        margin: 20px;
        height: auto;
        top: 10vh;
    }

    .slogan
    {
        width: 100%;
        white-space: normal;
        font-size: 25px;
        border-right: none;
        animation: none;
    }
    #light-mode8
    {
        width: 100%;
        font-size: 25px;
        white-space: normal;
        border-right: none;
        animation: none;
    }
    .fundo_inicial::before {
        position: absolute;
        content: "";
        background-size: cover;
        background-position: center;
        top: 122px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8) 100%),
            url('https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=');
        background-repeat: no-repeat;
        width: 100vw;
        height: 55vh;
        z-index: -1;
        filter: blur(10px);
    }
}
@media (max-width: 550px)
{
    .texto_logo {
        font-size: 16px; /* Ajuste no tamanho do texto */
    }
}
@media (max-width: 438px)
{
    .modo
    {
        flex-direction: column;
    }
}

/* FADE NAV */

@keyframes navlinksAparece
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }   
    to
    {
        opacity: 1;
        transform: translateX(0);
    }
}