@charset "UTF-8";

/* CORPO DO SITE */
*
{
    margin: 0;
    padding: 0;
    appearance: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    background-color: #111420;
}
.fundo_inicial
{
    height: 100vh; /* View Height */
    background-image: linear-gradient(180deg,#1d232e,#111420);
    transition: .4s;
}
/* CABECALHO */

.cab2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho
{
    position: fixed;
    background-image: linear-gradient(180deg,#333c4ddc,#151a27da);
    padding: 10px;
    width: 100vw;
    border-radius: 7px;
    z-index: 10;
}

/* LOGO NO CABECALHO */

.imagem_logo
{
    border-radius: 20%;
}
.texto_logo
{
    position: absolute;
    top: 40%;
    font-style: italic;
    margin-left: 10px;
    color: #5F9EFF;
    transition: .5s;
}

/* CENTRALIZAR */

.centro
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centro2
{
    text-align: center;
}

/* TOGGLE SWITCH */

.modo /* ARRUMAR NO CABECALHO */
{
    width: 70px;
    margin-right: 1%;
}

.base1
{
    position: relative;
    display: inline-block;
    width: 70px;
    transition: 0.4s;
    height: 35px;
}
.deslizar
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(210deg,#8fb5c0,#5F9EFF);
    transition: 0.4s;
    border-radius: 12px;
}
.deslizar::before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
    background-image: url(../imgf/lua_icon.png);
}
input[type='checkbox']:checked + .deslizar
{
    background-image: linear-gradient(160deg,#556279,#1E2434);
}
input[type='checkbox']:checked + .deslizar::before
{
    transform: translateX(35px) rotate(180deg);
    background-image: url(../imgf/sol_icon.png);
}

/* LOGO GRANDE */

.base2
{  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.imagem_logo2
{
    width: 80%;
    border-radius: 15%;
    max-width: 800px;
    height: auto;
    box-shadow: #70a3f0 0 0 50px;
}

/* LIGHT MODE */

.light-mode
{
    transition: 0.4s;
    background-image: linear-gradient(180deg,rgb(219, 233, 227),#8fb5c0);
    color: black;
}
.light-mode2
{
    background-image: linear-gradient(160deg,#4eafe838,#236b9e5f);
}
.light-mode3
{
    color: #151a27;
}
.light-mode4
{
    background-color: #8fb5c0;
}
.light-mode5
{
    color: #b3d0d8 !important;
    background: linear-gradient(160deg,#556279,#1E2434) !important;
    box-shadow: #151a27 0 0 26px !important;
}
.light-mode6
{
    box-shadow: #151a27 0 0 26px !important;
}
.light-mode7
{
    color: white !important;
    background-image: linear-gradient(160deg,#424f64,#1E2434) !important;
}

/* BOTAO */

.botao_sbms
{
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 40px;
    font-size: 20px;
    color: #2c3349;
    background-image: linear-gradient(1600deg,#8fb5c0,#5F9EFF);
    border-radius: 15px;
    box-shadow: #5F9EFF 0 0 26px;
    border: none;
}
.botao_sbms:hover
{
    color: #121621;
    background-image: linear-gradient(160deg,#668c97,#2862b8);
    animation: teste 2s ease-in-out infinite;
}

.botao_sbms:active
{
    color: #000000;
    background-image: linear-gradient(160deg,#406570,#144692);
}

@keyframes teste
{
    100%
    {
        transform: tr
    }
}

/* TEXTO */

#texto
{
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: black;
}

/* CAIXA TEXTO */

.caixa1
{
    margin: 40px;
    position: relative;
    top: 15.8vh;
    background-image: linear-gradient(160deg,#8fb5c0,#5F9EFF);
    border-radius: 20px;
    height: 800px;
    margin-bottom: 40px;
}

/* ARRUMANDO TAMANHO */

@media (max-width: 768px) {
    .cabecalho {
        padding: 8px;
        flex-direction: column;
    }
    
    .imagem_logo {
        width: 40px;
        height: 40px;
    }

    .botao_sbms {
        padding: 15px 30px;
        font-size: 16px;
    }

    .caixa1 {
        margin: 20px;
        height: auto;
        top: 10vh;
    }
}
